body {
    background-color: #303030;
    color: #FFFFF1;
    font-family: 'finalFrontier';
    font-size: 24px;
    margin: 0, auto;
    padding: 3em;
    width: 89%;
}

@font-face {
    font-family: 'finalFrontier';
    src: 
        url('../font/final-frontier/finalnew-webfont.woff') format('woff2'),
        url('../font/final-frontier/finalnew-webfont.woff2') format('woff');
    font-weight:normal;
    font-style: normal;

}

div {
    margin-bottom: 1em;
}